{% include "header.html" %}
<br><br><br><br>
    <div class="container text-center">
        <div class="row">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
          <h1 class="display-4 font-italic">Übersicht</h1>
        </div>
                <br><br>
      </div>
            <!--Verlinkung zur Funktion "viz" in der main.py-->
  <form action="{{url_for('viz')}}" method="post" class="row g-3">
    <div class="form-group">
        <!--Die Kategorie wird ausgewählt, durch ein Dropdown-Menü-->
      <select id="inputkategorie" name="kategorie" class="form-control">
        <option selected>Kategorie</option>
          <option>Shopping</option>
        <option>Tanken</option>
          <option>Lebensmittel</option>
          <option>Freizeit</option>
      </select>
        <br><br>
    </div>
      <div class="col-12">
  <button type="submit" class="btn btn-primary">Senden</button>
             <br><br><br><br>
      </div>
  </form>
            <!--Hier müsste das Diagramm dargestellt werden, jedoch habe ich nicht geschafft-->
             {{ viz_div }}
    </div>
    </div>
