<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ausgaben</title>
</head>
<body>
<form method="POST">
    <input type="text" name="datum" placeholder="Bitte geben Sie das Datum ein">
    <br>
    <input type="text" name="waehrung" placeholder="Bitte geben Sie die Währung ein">
    <input type="text" name="betrag" placeholder="Bitte geben Sie den Betrag ein">
    <br>
    <input type="text" name="kategorie" placeholder="Bitte geben Sie die Kategorie ein ein">
    <button type="submit">Senden</button>
</form>
</body>
</html>