<!-- Quelle Footer:https://getbootstrap.com/docs/5.1/examples/navbar-fixed/-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <title>Financetracker</title>
</head>
<nav class="navbar navbar-expand-md navbar-dark float-right bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
           <li>
               <!--Verlinkung zum selbstgemachten Logo-->
                <img src="{{url_for('static', filename='Logo.jpg')}}" width="50" >
            </li>
          <!--Mit url_for wird die Navigation verlinkt mit den einzelnen Funktionen in main.py-->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={{url_for("finanzen")}}>Ausgaben</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href={{url_for("einahmen")}}>Einahmen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href={{url_for("viz")}}>Analyse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href={{url_for("liste_laden")}}>Summe</a>
        </li>
      </ul>

  </div>


</div>
</nav>