<!--Der Header wurde einzel erstellt, so das Änderungen einfacher zu machen sind-->
{% include "header.html" %}
<br><br><br><br>
    <div class="container text-center">
        <div class="row">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
          <h1 class="display-4 font-italic">Willkommen auf meiner Web-Applikation</h1>
          <p class="lead my-3">Diese Web-Applikation soll dazu dienen, meine Finanzen besser zu überwachen.</p>
                    <p class="lead my-3">Bitte gebe deine Ausgaben ein.</p>
        </div>
                <br><br>
      </div>
            <!--Verlinkung zur Funktion "finanzen" in main.py-->
  <form action="{{url_for('finanzen')}}" method="post" class="row g-3">
    <div class="form-group">
        <!--Hier kann das Datum ausgesucht werden, an dem eine Ausgabe betätigt wurde
        Quelle:https://www.mediaevent.de/html5-input-type/-->
        <label for="date">Datum</label>
        <input type="date" id="date" name="datum">
    </div>
      <br><br><br><br>
      <!--An diesem Punkt muss die entsprechende Währung ausgesucht werden
      Quelle für Dropdowns:https://getbootstrap.com/docs/5.1/forms/select/-->
    <div class="form-group col-md-4">
      <select id="inputwaehrung" name="waehrung" class="form-control">
        <option selected>Währung</option>
        <option>CHF</option>
          <option>EUR</option>
      </select>
    </div>
<!--Der entsprechende Betrag wird eingegeben
Quelle:https://getbootstrap.com/docs/5.1/components/dropdowns/  Absatz Forms-->
  <div class="form-group col-md-4">
    <input type="text" class="form-control" id="inputbetrag" name="betrag" placeholder="Betrag">

  </div>
<!--Die passende Kategorie wird ausgesucht, kann beliebig erweitert werden-->
    <div class="form-group col-md-4">
      <select id="inputkategorie" name="kategorie" class="form-control">
        <option selected>Kategorie</option>
          <option>Shopping</option>
        <option>Tanken</option>
          <option>Lebensmittel</option>
          <option>Freizeit</option>
      </select>
        <br><br>
    </div>
      <!--Die Eingaben werden gesendet-->
      <div class="col-12">
  <button type="submit" class="btn btn-primary">Senden</button>
             <br><br><br><br>
      </div>
  </form>
    </div>
    </div>
<!--Der Footer wurde einzel erstellt, so das Änderungen einfacher zu machen sind-->
{% include "footer.html" %}