{% include "header.html" %}
<br><br><br><br>
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
        <h1>Willkommen auf meiner Web-Applikation!</h1>
                <br><br><br><br>
            </div>
            <div class="col-2"></div>
            <div class="col-5">
        <form method="POST">
            <input type="text" name="datum" class="form-control" placeholder="Datum">
            <input type="text" name="waehrung" class="form-control" placeholder="Währung">
            <input type="text" name="betrag" class="form-control" placeholder="Betrag">
            <input type="text" name="Kategorie" class="form-control" placeholder="Kategorie">
        </form>
            </div>
            <br><br><br><br>
            <div class="col-3">
            <button type="submit" class="btn btn-outline">Senden</button>
            </div>
        </form>
        </div>
    </div>
</div>

{% include "footer.html" %}